.chat {
	text-align:right;
	margin:1em;
	padding:0.5em;
	border: 2px;
	border-radius: 1em;
	max-width:150px;
}
.bot {
	background-color:#ffffff;
	text-align:left;
}
.user {
	background-color:#66b3ff;
	text-align:right;
	position:relative;
	left:12.5em;
}

.mycontainer {
	float: center;
	width: 25em;
	padding: 1em;
    margin: 0; 
    min-height:1em;
}
.history {
	background-color:#d9d9d9;
}
.choices {
	background-color:#66b3ff;
	text-align:right;
}
.button {
    background-color: #66b3ff;
    border: none;
    color: #ffffff;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
