.chat {
	text-align:right;
	margin:1em;
	padding:0.7em;
	border: 2px;
	border-radius: 1em;
	min-width:1em;
	max-width:30em;
	overflow:auto;
	display:inline-block;
}

.bot {
	background-color:#ffffff;
	text-align:left;
	float:left;
	clear:both;
}

.user {
	background-color:#dcf8c6;
	text-align:right;
	float:right;
	clear:both;
}

.mycontainer {
	background-color:#ece5dd;
	float: center;
	width: 100%;
	max-width:40em;
    margin: 0;
}

.history {
	background-color:#ece5dd;
	overflow-y:auto;
	height:40em;
}

.choices {
	background-color:#66b3ff;
	text-align:right;
	min-height:3em;
	display: none;
}

.button {
    background-color: #66b3ff;
    border: none;
    color: #000000;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:1em;
}

.headerChat {
	text-align: left;
	font-size: 200%;
	padding:0.5em;
	background-color: #075e54;
	color:#ffffff;
}

#answer {
	width: 90%;
    min-height: 2em;
    font-size: 120%;
    padding: 1em;
    text-align: center;
    float: center;
    position: relative;
    left: 0.8em;
    bottom: 0.5em;
    border: none;
    border-radius: 1em;
    margin-top: 1em;
    max-width: 95%;
    margin-right: 0%;
    margin-bottom: 0px;
}
