.chat {
	text-align:right;
	margin:1em;
	padding:0.7em;
	border: 2px;
	border-radius: 1em;
	min-width:1em;
	max-width:30em;
	overflow:auto;
	display:inline-block;
}
.bot {
	background-color:#ffffff;
	text-align:left;
	float:left;
	clear:both;
}

.user {
	background-color:#66b3ff;
	text-align:right;
	color:#ffffff;
	float:right;
	clear:both;
}

.mycontainer {
	float: center;
	width: 100%;
	max-width:40em;
	padding: 1em;
    margin: 0;
}

.history {
	background-color:#e0e0e0;
	overflow-y:auto;
	height:600px;
}

.choices {
	background-color:#66b3ff;
	text-align:right;
	min-height:3em;
}

.button {
    background-color: #66b3ff;
    border: none;
    color: #000000;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:1em;
}

.inputField {
	width:100%;
	min-height:2em;
	text-align:center;
	font-size:120%;
	float:center;
}
